@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-text-primary antialiased min-h-screen;
  }
}
